<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zih.booking.dao.BookingInquiryGoodsDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zih.booking.model.BookingInquiryGoodsDetails">
        <id column="id" property="id" />
        <result column="inquiry_id" property="inquiryId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_amount" property="goodsAmount" />
        <result column="goods_weight" property="goodsWeight" />
        <result column="goods_length" property="goodsLength" />
        <result column="goods_width" property="goodsWidth" />
        <result column="goods_height" property="goodsHeight" />
    </resultMap>

</mapper>
