<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zih.booking.dao.DocumentFileNodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zih.booking.model.DocumentFileNode">
        <id column="node_id" property="nodeId" />
        <result column="node_status" property="nodeStatus" />
        <result column="node_type" property="nodeType" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="order_number" property="orderNumber" />
        <result column="virtal_time" property="virtalTime" />
        <result column="actual_time" property="actualTime" />
        <result column="file_type_key" property="fileTypeKey" />
        <result column="file_type_text" property="fileTypeText" />
    </resultMap>
    <!--单证-->
    <select id="selectNodeList" parameterType="java.lang.String" resultType="com.zih.booking.response.DocNodeResponse">
        select  a.*,b.file_url as url
        from  document_file_node a
        left join doc_order_document b on a.order_number=b.order_number and a.file_type_key=b.file_type_key
        where a.order_number=#{orderNumber}
        order by a.create_time ${sort}
    </select>
</mapper>
