<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zih.booking.dao.SysFailMqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zih.booking.model.SysFailMq">
        <id column="id" property="id" />
        <result column="body" property="body" />
        <result column="code" property="code" />
        <result column="text" property="text" />
        <result column="exchange" property="exchange" />
        <result column="routingkey" property="routingkey" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
