<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zih.booking.dao.TrackAbnormalBoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zih.booking.model.TrackAbnormalBox">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="is_separate" property="isSeparate" />
        <result column="abnormal_type" property="abnormalType" />
        <result column="abnormal_information" property="abnormalInformation" />
        <result column="box_num" property="boxNum" />
        <result column="unload_reason" property="unloadReason" />
        <result column="unload_site" property="unloadSite" />
        <result column="receive_emails" property="receiveEmails" />
        <result column="secret_emails" property="secretEmails" />
        <result column="unload_time" property="unloadTime" />
        <result column="solve_time" property="solveTime" />
        <result column="input_time" property="inputTime" />
        <result column="charge_person" property="chargePerson" />
        <result column="real_reason" property="realReason" />
        <result column="arrive_time" property="arriveTime" />
        <result column="inspection_type" property="inspectionType" />
        <result column="class_num" property="classNum" />
        <result column="is_arrive" property="isArrive" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
